:root {
    --preto: black;
    --branco: white;
    --beje-01: #f5f4ed;
    --beje-02: #e0e0d6;
    --amarelo: #f7d56f;
    --roxo-claro: #bfacf9;
    --poppins: Poppins, sans-serif;
    --livvic: Livvic, sans-serif;
    --texto-mobile: 1rem;
    --h1-mobile: 3rem;
    --h2-mobile: 2.25rem;
    --texto: 1.125rem;
    --h1: 5rem;
    --h2: 3rem;
    --h3: 2.375;
    --h3: 2rem;
}

HTML {
    scroll-behavior: smooth;
}

* {
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--branco);
}

.texto {
    font: normal var(--texto-mobile) var(--poppins);
}

.titulo {
    font: normal var(--h2-mobile) var(--poppins);
}

header{
    height: 10vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: right ;
}

.menu{
    border-radius: 1.5625rem;

    position: fixed;
    left: 5%;
    top: 2.5%;
    transform: translate(-5%, 0%);

    width: 8.5rem;
    height: 2.5rem;

    background-color: var(--preto);
    
    overflow: hidden;

    cursor: pointer;

    transition: height .5s ease;
}

.nao {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 50%;
    top: .5rem;

    transform: translate(-50%);
}

.burguer {
    width: 1rem;
    height: 0.0625rem;

    display: block;

    margin-right: 0.3125rem;

    background-color: var(--branco);

    transition: all .5s ease;
}

.burguer:after, .burguer:before {
    width: 100%;
    height: 100%;

    content: '';

    position: relative;
    display: block;
    
    background-color: var(--branco);

    transition: all .5s ease;
}

.burguer:before {
    top: -0.3125rem;
}

.burguer:after {
    top: +0.3125rem;
}

input:checked ~ label .burguer{
    transform: rotate(45deg);
  }
  
  input:checked ~ label .burguer::after{
    top: -0.0625rem;
    transform: rotate(90deg);
  }
  
  input:checked ~ label .burguer::before{
    top: 0rem;
    transform: rotate(90deg);
  }

.menu-text {
    display: flex;

    margin-left: 0.3125rem;

    color: var(--branco);
}

.navbar {
    display: flex;
    position: relative;
    justify-content: center;

    margin-top: 2.5rem;
}

.navbar > ul > li {
    position: relative;
    width: 12.5rem;
    margin: 0.3125rem 0rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar > ul > li > a {
    width: 12.5rem;
    display: flex;
    justify-content: center;
}

input:checked ~ label .menu{
    height: 12.1875rem;
}

.titulo-pagina {
    float: right;

    position: relative;
    right: 5%;
    transform: translate(5%, 0%);
}

body {
    background-color: var(--beje-01);
}